.advanteges {
    min-height: 470px;
    padding: 69px 0 78px 0;

    &__header {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    }

    &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 60px;
    }
    &_item {
        width: 238px;
    }
    &__descr {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    }
    &__title {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-top: 35px;
    }

    
}