.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__oficial {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        margin-right: 100px;
        span {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__call {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}